body{
    background-color: rgb(21, 9, 26);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}

.slide{
    transition: .5s ease-in;
    position: relative;
    margin-right: 20px;
    height: 80vh;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 2;
    color: white;
}

.slide h3{
    position: absolute;
    bottom: 0;
    left: 20px;
    opacity: 0;
}

.slide.active{
    flex: 5;
}

.slide.active h3{
    opacity: 1;
    transition: .5s ease-in;
}